node_modules
target/
# # explicitly allow binaryies to be copied
!./target/x86_64-unknown-linux-musl/debug/rust-graphql-api
!./target/x86_64-unknown-linux-musl/debug/rust-graphql-api

.next
.vscode
.vercel
.env
.secrets
README.MD
Dockerfile